body {
/*Creative commons photo License: CC0 Public Domain / FAQ, Free for commercial use / No attribution required which has been edited with doodles made by Nibia*/
    background-image: url(../images/walledit.jpg);
    /*background-size: cover;*/
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
    font-size: 10px;
    color: #000; 
    font-family:coopforged;
}


/* Logo */
.headphones {
    float: left;
}

}
/* text */
.text{
    font-family: coopforged;
    color: black;
    

}

.text:hover {
	opacity: 1.0;
}
/* gifs & images*/

.gif1 {
	width: 350px;
    height: 300px;
    margin-right: 100px;
    margin-left: 70px;
    margin-top: 100px;
    float: left;
}

.gif2 {
	width: 350px;
    height: 300px;
    margin-right: 100px;
    margin-left: 70px;
    margin-top: 120px;
    float: left;
}

.gif3 {
	width: 450px;
    height: 450px;
    margin-right: 100px;
    margin-left: 10px;
    margin-top: 40px;
    float: left;
}

.frac{
    height:314.5px;
    Width: 175px;
    margin-top: 80px;
    margin-right: 145px;
    
}
/* buttons */

.pollslider_button-left{
    
    width: 50px;
    height: 50px;
    margin-top: -20px;
    margin-left: -160px;
    float: left;
}

.pollslider_button-right{
    
    width: 50px;
    height: 50px;
    margin-right: 250px;
    margin-top: -20px;
    float: right;
}

/* selectors */
.pages{
    margin-left: 390px;
    margin-right: auto
}

.box {
    width: 90px;
    height: 65px;
    background: #767676;
    border: 4px solid #000;
    margin: 12px;
    float: left;
}


.selected {
    background: #ff8989;
    border: 4px solid #ea0000;
}

/* cards */
.container {
      width: 840px;
      height: 560px;
      position: relative;
      margin: 0 auto 10px;
      border: 1px solid #CCC;
      -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
    }

    #card {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transition: -webkit-transform 2s;
         -moz-transition: -moz-transform 2s;
           -o-transition: -o-transform 2s;
              transition: transform 2s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
    }

    #card.flipped {
      -webkit-transform: rotateY( 90deg );
         -moz-transform: rotateY( 90deg );
           -o-transform: rotateY( 90deg );
              transform: rotateY( 90deg );

    }

    #card figure {
	  margin: 0px;
      display: block;
      height: 100%;
      width: 100%;
      line-height: 260px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 140px;
      position: absolute;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }

    #card .front {
      background-image: url("../images/Page11.jpg");
      opacity: 50%;
      background-repeat: no-repeat;
      height: 560px;
      width: 840px;
    }

    #card .back {
      background-image: url("../images/Page2.jpg");
      height: 560px;
      width: 840px;
      -webkit-transform: rotateY( -90deg );
         -moz-transform: rotateY( -90deg );
           -o-transform: rotateY( -90deg );
              transform: rotateY( -90deg );
    }

    .clearfix {
	    clear: both;
    }
/*
.container_2 {
      width: 420px;
      height: 280px;
      position: relative;
      margin: 0 auto 10px;
      border: 1px solid #CCC;
      -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
    }

    #card_2 {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transition: -webkit-transform 2s;
         -moz-transition: -moz-transform 2s;
           -o-transition: -o-transform 2s;
              transition: transform 2s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
    }

    #card_2.flipped {
      -webkit-transform: rotateY( 90deg );
         -moz-transform: rotateY( 90deg );
           -o-transform: rotateY( 90deg );
              transform: rotateY( 90deg );

    }

    #card_2 figure {
	  margin: 0px;
      display: block;
      height: 100%;
      width: 100%;
      line-height: 260px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 140px;
      position: absolute;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }

    #card_2 .front_2 {
      background-image: url("../images/Page22.jpg");
      opacity: 50%;
      background-repeat: no-repeat;
      height: 560px;
      width: 840px;
    }

    #card_2 .back_2 {
      background-image: url("../images/Page22.jpg");
      height: 560px;
      width: 840px;
      -webkit-transform: rotateY( -90deg );
         -moz-transform: rotateY( -90deg );
           -o-transform: rotateY( -90deg );
              transform: rotateY( -90deg );
    }
*/
